{% extends "base.html" %}
{% block links %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/index.css'  %}" >
{% endblock %}
{% block content %}
{% if dept %}

{% for d in dept.item_set.all %}

<div class="outercontent">

  <img id="myimg" class="img-responsive" src="{% static "" %}{{d.image}}" alt="Not available">
  <div class="inner">
  <h1 style="display:inline;"> {{d.item_name }}</h1>
  <h2 id="cost">&#8377;{{d.price}} </h2>
  <p> {{d.description}}</p>

  <button class="btn btn-primary" type="submit">BUY</button>
  <div style="clear:both;"></div>
  </div>
</div>

{% endfor %}
{% else %}

<h1> No items Found </h1>

{% endif %}

{% endblock %}
