<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAIRO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/main.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Header -->

<nav id="myid" class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnav" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>
  <a class="navbar-brand" href="#">CAIRO</a>
    <span><a style="text-decoration:none;color:white;" href="#">Sign in</a> </span>
  <div>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2 ml-4" id="searchbar" type="search" placeholder="Search" aria-label="Search" style="width:600px;">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">S</button>
  </form>
</div>
  <button class="btn btn-warning mx-2 my-sm-0" type="button" style="float:right;">S</button>

  <div class="collapse navbar-collapse" id="mainnav" >

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>

  </div>

</nav>
<div id="lowernav">


    <ul class="px-2" id="mylist">
      <li >
        <a href="#">Home </a>
      </li>
      <li >
        <a href="#">Link</a>
      </li>
      <li >
        <a href="#">Link</a>
      </li>
      <li >
        <a href="#">Link</a>
      </li>
      <li>
        <a href="#">Disabled</a>
      </li>
    </ul>
  </div>


<!--End of Header -->


{% block content %}


{% endblock %}

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia varius posuere. Sed pretium nisi nec varius faucibus. Aliquam tristique porta finibus. Vivamus ullamcorper orci ut placerat interdum. Pellentesque mattis vehicula condimentum. Maecenas scelerisque neque mattis ante blandit, in condimentum lectus convallis. Aenean venenatis nunc sit amet quam ultricies, id malesuada ipsum tincidunt. Nullam consectetur dui sit amet magna imperdiet, sit amet iaculis nulla pellentesque.

Morbi sed nisi eu purus blandit rutrum id et magna. Proin aliquam libero ac mauris volutpat ultricies. Nam sem justo, hendrerit et ultricies eu, condimentum at est. Fusce fringilla accumsan ligula. Sed vel metus feugiat, rutrum nunc vehicula, ultrices nibh. Sed a ipsum placerat, scelerisque turpis euismod, rutrum arcu. Proin sit amet ante vel nibh suscipit tincidunt sit amet ac enim.

Mauris turpis sem, tincidunt at sollicitudin in, finibus non urna. Ut mauris sapien, porttitor eget eros eget, fermentum luctus tellus. Curabitur bibendum et velit ut commodo. Donec ut volutpat ipsum, non tincidunt erat. Aliquam erat volutpat. Suspendisse eros quam, elementum sed vehicula nec, mollis non orci. Donec elementum mattis commodo. In tincidunt, magna sed ullamcorper mollis, dolor est rutrum ante, eget tincidunt risus nibh ac ipsum. Etiam eleifend, orci non faucibus dictum, urna quam posuere nibh, a fermentum mauris nisl ut nibh. Pellentesque posuere viverra mi, ac ultrices nibh fringilla id. Mauris quis elit lacus. Vestibulum mauris purus, volutpat id magna in, aliquet pellentesque est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam elementum sit amet enim et tristique. Quisque maximus venenatis enim sit amet laoreet. Vestibulum vel mauris libero.

Suspendisse ac ante eget neque ultricies cursus. Donec posuere euismod mi, id fringilla dolor accumsan quis. Pellentesque aliquam, est quis venenatis tempus, libero quam mattis felis, sit amet porta diam nunc sed diam. In at nibh eu purus convallis aliquam a nec quam. Donec eget erat ac justo congue imperdiet a et ante. Nulla imperdiet rhoncus leo et interdum. Sed id purus volutpat, efficitur urna at, fermentum lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis eges

<!-- Footer -->
<footer id="outfooter" class="page-footer font-small pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->



  <!-- Footer Icons -->
  <footer class="page-footer font-small">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center" id="footericon">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->


  </footer>
  <!--End of Footer Icons -->
  <!-- Copyright -->
  <div id="infooter" class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#">Cairo.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->






<!-- End of Footer -->
</body>
</html>
